wh($width, $height)
    width $width
    height $height

hlh($height)
    height $height
    line-height $height
    
otw()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

flex($type)
    display flex
    justify-content $type
    align-items center

center($height)
    margin 0 auto
    hlh($height)