wh($width, $height)
    width $width
    height $height

hlh($height)
    height $height
    line-height $height
    
otw()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

flex($type)
    display flex
    justify-content $type
    align-items center

center($height)
    margin 0 auto
    hlh($height)

borderC($color)
    border 1rpx solid $color

line($top, $left)
    .line
        position relative
        &::after
            content ''
            wh(750rpx, 1rpx)
            background-color #bfbfbf
            position absolute
            left $left
            z-index 200
            top $top
            transform scaleY(0.4)